<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    {{- partial "head-meta" . }}
    {{- block "schema-dot-org" . }}{{ end }}

    <!-- Link to self -->
    <link rel="canonical" href="{{ .Permalink }}">

    <!-- Favicon   -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ `favicon.ico` | absURL }}"/>

    <!-- Page title -->
    {{- block "title" . }}
    <title>{{ if not .IsHome }}{{ with .Title }}{{ . | markdownify | plainify | safeHTML }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
    {{- end }}

    <!-- Stylesheets -->
    {{- partial "stylesheets" . }}


    <!-- Google Analytics -->
    {{- partial "google-analytics" . }}
</head>
<body>

<!-- Scroll to top button -->
<a href id="btn-scroll-to-top" class="fas fa-angle-up btn btn-secondary"></a>

<main id="page" class="container-md">
    <div class="row">
        <div class="col-12 px-0">
            <!-- Overall header -->
            {{ block "header" . }}
            <!-- Jumbotron -->
            <div class="jumbotron text-center">
                <h1>Электродинамика:</h1>
                <h2>взгляд физика</h2>
                <div>Мемориальный сайт <b><a href="{{ ref . `/about` }}">К. Б. Канна</a></b> (23.04.1936 — 28.12.2020)</div>
            </div>
            {{ end }}
        </div>

        <!-- Sidebar navigation -->
        <a href="#sidebar" id="sidebar-toggler" class="fas fa-bars btn btn-primary" aria-controls="sidebar"></a>
        <div id="sidebar" class="collapsed">
            {{- partial "sidebar" . }}
        </div>

        <!-- Main page content -->
        <div id="content">
            <!-- Heading -->
            {{- block "heading" . }}
            {{- if default true .Params.showHeading }}
                <h1>{{ .Title | markdownify }}</h1>
                {{- with .Params.description -}}
                    <p class="subtitle">
                        <span class="font-weight-bold">Кратко:</span><br>
                        {{- . | markdownify -}}
                    </p>
                {{- end -}}
            {{ end }}
            {{- end }}

            <!-- Main content -->
            {{- block "main" . }}
            {{- .Content }}
            {{- end }}

            <!-- Bottom Navbar -->
            {{- block "bottom-navbar" . }}{{ end }}

            <!-- Comments -->
            {{- partial "comments" . }}
        </div>
    </div>
</main>

{{ partial "footer" . }}
{{ partial "scripts" . }}
</body>
</html>
