// Fonts
$headings-font-weight: 700;

// Base palette
$primary:   #0e10a7; // TODO
$secondary: #bcbdec; // TODO
$info:      #447880; // TODO

$body-bg:       #e6e4c4;
$breadcrumb-bg: #fff;

// Other overrides
$jumbotron-bg: #f2f2f7;

// Import Bootstrap
@import "bootstrap-4.5.3/scss/bootstrap";

// Import FontAwesome
@import "fontawesome-5.15.2/fontawesome";
@import "fontawesome-5.15.2/solid";
@import "fontawesome-5.15.2/brands";

// Scroll-to-top button
#btn-scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: all .5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    font-size: 2em;

    &.show {
        opacity: 0.9;
        visibility: visible;
    }
}

main {
    background-color: #fff;

    @include media-breakpoint-up(md) {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: #815300 2px solid;
        border-radius: 12px;
        box-shadow: 0 0 7px #33333370;
    }
}
.jumbotron {
    border-radius: .6rem .6rem 0 0;
    border-bottom: #81530030 1px solid;
    margin: 0;
    background: url("/images/header.jpg") center;

    h1 {
        font-size: 2rem;
        font-weight: 300;
        line-height: 0.7;

        @include media-breakpoint-up(sm) {
            font-size: 2.5rem;
        }
        @include media-breakpoint-up(md) {
            font-size: 3rem;
        }
        @include media-breakpoint-up(lg) {
            font-size: 3.5rem;
        }
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 0.7;
        margin-bottom: 2rem;

        @include media-breakpoint-up(sm) {
            font-size: 2rem;
        }
        @include media-breakpoint-up(md) {
            font-size: 2.25rem;
        }
        @include media-breakpoint-up(lg) {
            font-size: 2.5rem;
        }
    }
}

#sidebar-toggler {
    position: fixed;
    bottom: 30px;
    left: 30px;
    transition: all .5s ease-in-out;
    opacity: 0.9;
    visibility: visible;
    z-index: 1000;
    font-size: 2em;

    @include media-breakpoint-up(md) {
        opacity: 0;
        visibility: hidden;
    }
}
#sidebar {
    background-color: #f2f2f7;
    border-bottom-left-radius: .6rem;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    padding-left: 0;
    padding-right: 0;
    width: 250px;
    box-shadow: 4px 0 10px #33333340;
    transition: left 0.3s ease-in-out;

    &.collapsed {
        left: -265px;
        box-shadow: none;
        @include media-breakpoint-up(md) {
            left: 0;
        }
    }

    @include media-breakpoint-up(md) {
        left: 0;
        width: 100%;
        position: relative;
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
        box-shadow: none;
    }
    @include media-breakpoint-up(lg) {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .nav {
        @include media-breakpoint-up(md) {
            @supports (position: sticky) {
                position: sticky;
                top: 0;
                z-index: 1000;
            }
        }
    }

    .nav-link {
        border-radius: 0;
        position: relative;
        height: 40px;

        &.active::after {
            content: "";
            position: absolute;
            z-index: 10;
            top: 0;
            bottom: 0;
            right: -15px;
            border-left: 15px solid $primary;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
        }
    }
}

#content {
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 1rem;

    @include media-breakpoint-up(md) {
        display: block;
        flex: 0 0 66.66666666%;
        max-width: 66.66666666%;
        padding: 1.5rem 3rem 1.5rem 1.5rem;
    }
    @include media-breakpoint-up(lg) {
        flex: 0 0 75%;
        max-width: 75%;
    }
}

footer {
    font-size: 0.85rem;
}

h1 {
    font-size: 2rem;

    @include media-breakpoint-up(sm) {
        font-size: 2.25rem;
    }
    @include media-breakpoint-up(md) {
        font-size: 2.5rem;
    }
}

.thumb-left {
    float: left;
    max-width: 40%;
    height: auto;
    margin-right: 15px;
    margin-bottom: 15px;
}

.footnote-ref {
    &:before {
        content: '[';
    }
    &:after {
        content: ']';
    }
}

.subtitle {
    font-size: 0.9rem;
    padding: 1rem;
    margin-bottom: 3rem;
    border-left: $secondary 2px solid;
    background-color: #f2f2f7;
}

blockquote {
    background-color: #f2f2f7;
    border-left: $secondary 2px solid;
    padding: 1rem;
    font-style: italic;

    p:last-child {
        margin-bottom: 0;
    }

}

.formula {
    display: flex;

    .figure-container {
        flex-grow: 1;
        text-align: center;
    }
    .figure-img {
        max-width: 100%;
        height: auto;
    }
    figcaption {
        flex-grow: 0;
    }
}
.picture {
    display: block;

    .picture-container {
        text-align: center;
    }
    .figure-img {
        max-width: 100%;
        height: auto;
    }
    figcaption {
        text-align: center;
    }
}
.dot-sep {
    &:not(:last-child):after {
        content: "·";
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
}
