{{- if .IsHome }}
    <div class="py-2"></div>
{{- else }}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ relLangURL `/` }}"><i class="fas fa-home"></i></a></li>
            {{- with .Parent }}{{- if not .IsHome }}
            <li class="breadcrumb-item"><a href="{{ .RelPermalink }}">{{ .Title | markdownify | plainify | safeHTML }}</a></li>
            {{- end }}{{ end }}
            <li class="breadcrumb-item active" aria-current="page">{{ .Title | markdownify | plainify | safeHTML }}</li>
        </ol>
    </nav>
{{- end }}
